.DS_Store
Thumbs.db

*.local.php
*.local.phtml

/app/cache/*
/app/log/*

/propel/config/config.php

/public/upload/*/*
/public/vendor/*

/vendor/*/*
/vendor/autoload.php

/composer
/composer.phar

!.gitkeep
!*.dist
