<?php

/**
 * @see https://github.com/PHPMailer/PHPMailer
 * @see https://github.com/PHPMailer/PHPMailer/tree/master/examples
 */

$senders = [];

$senders['default'] = function() : void
{
	$this->setFrom('root@localhost', fenric('request')->getHost());
	$this->addReplyTo('root@localhost', fenric('request')->getHost());

	$this->isHTML(true);
};

return $senders;
